*

!.github
!.github/**

!.gitignore
!.npmignore

!src
!src/main.js
!src/main.spec;js
!src/store.js
!src/store.spec.js
!test
!test/setup.js
!test/build.js
!types.d.ts

!package.json
!rollup.config.js
!tsconfig.json

!README.md
!AUTHORS
!LICENSE
!MAINTAINERS.md
!GOVERNANCE.md
!CONTRIBUTING.md
!CHANGELOG.md

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/node_modules
**/dist
**/build
